<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Account Management</title>
</head>
<body>
	Project Manager: [NAME] <br>
	Email: [EMAIL] [CHANGE EMAIL] <br>
	[CHANGE PASSWORD] <br>
	<br>
	Team Members <br>
	<table>
		<tr>
		<td>ID</td>
		<td>Name</td>
		<td>Email</td>
		<td>Edit</td>
		<td>Delete</td>
		</tr>
			<tr th:each="currentMember : ${[TABLE]}">
				<td th:text="${currentMember.id}" />
				<td th:text="${currentMember.name}" />
				<td th:text="${currentMember.email}" />
				<td><a th:href="@{/edit/{id}(id=${currentContact.id})}">Edit</a></td>
				<td><a th:href="@{/delete/{id}(id=${currentContact.id})}">Delete</a></td>
			</tr>
		</table>
		<a href="../addTeamMember">Add Team Member</a>
	
</body>
</html>