<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Project Management Assistant | Add Team Member</title>
</head>
<body>
	<h1>Project Management Assistant</h1>

		<h3><a href="/projectdashboard">Go back to project view</a> | 
		<a href="/logout">Logout</a></h3>

	<form th:action="@{/addteammember}" th:object="${Users}" method="post">
	<input type="hidden" th:field="*{registrationType}" th:value="addteammember" />
    <div>
        <label>First Name:</label>
        <input th:field="*{firstName}"/>
        <p th:each="error: ${#fields.errors('firstName')}"
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>Last Name:</label>
        <input th:field="*{lastName}"/>
        <p th:each="error : ${#fields.errors('lastName')}"
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>Email:</label>
        <input type="email" th:field="*{email}"/>
        <p th:each="error : ${#fields.errors('email')}"
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" th:field="*{password}"/>
        <p th:each="error : ${#fields.errors('password')}"
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>Confirm Password:</label>
        <input type="password" th:field="*{matchingPassword}"/>
    </div>
    <button type="submit">submit</button>
</form>
</body>
</html>