<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{template.html}">
<head>
<title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">Change Email/Password</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<form th:action="@{/changeEmailPassword/{id}(id=${User.userId})}" th:object="${User}" method="post">
			<div class="col alert alert-danger" th:if="${#fields.hasGlobalErrors()}"
					th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error</div>
					
			<label class="sr-only" for="email">Email:</label>
			<input type="email" class="form-control first-fld" th:field="*{email}" placeholder="Email" required />
			<div class="col alert alert-danger" th:each="error: ${#fields.errors('email')}" th:text="${error}">Validation error</div>
			<label class="sr-only" for="password">Password:</label>
			<input type="password" class="form-control" th:field="*{password}" placeholder="Password" required />
			<div class="col alert alert-danger" th:each="error: ${#fields.errors('password')}" th:text="${error}">Validation error</div>
			<label class="sr-only" for="matchingPassword">Confirm Password:</label>
			<input type="password" class="form-control last-fld" th:field="*{matchingPassword}" placeholder="Confirm Password" required />
			<div class="col alert alert-danger" th:each="error: ${#fields.errors('matchingPassword')}" th:text="${error}">Validation error</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Change Email/Password</button>
		</form>
	</section>
</body>
</html>