<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>TEMP PAGE TO TEST CONTROLLERS</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<fieldset>
		<form th:object="${newTeamMember}" th:action="@{/createTeamMember/{id}(id=${newTeamMember.memberId})}" method=POST>
		First Name: <input name="firstName" size="20" th:field="*{firstName}" id="inFirst"><br />
		Last Name: <input name="lastName" size="20" th:field="*{lastName}" id="inLast"><br />
		
		<input name="Submit" type="submit" value="submit" />
		</form>
	</fieldset>
	
<a href="../viewAllTeamMembers">View All TeamMembers</a>
</body>
</html>