<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{template.html}">
<head>
<title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">Login</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<h3>For developers by developers.<br />Stay on top of your software development projects using this simple and easy to use tool.</h3>
		<form th:action="@{/login}" method="post">
			<div class="col alert alert-danger" th:if="${param.error}">Wrong user or password</div>
			<label class="sr-only" for="email">Email:</label>
			<input id="email" class="form-control first-fld" type="email" name="username" placeholder="Email Address" required />
			<label class="sr-only" for="password">Password:</label>
			<input id="password" class="form-control last-fld" type="password" name="password" placeholder="Password" required />
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			<div class="row">
			  <div class="col">Are you a team manager? <br /> <a href="/registration">Register here to get started</a></div>
			</div>
		</form>
	</section>
</body>
</html>