<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{template.html}">
<head>
<title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">Add/Update Project</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<form th:action="@{/inputProject/{projectId}(projectId=${newProject.projectId})}" th:object="${newProject}" method="post">					
			<label class="sr-only" for="projectName">Project Name:</label>
			<input type="text" class="form-control first-fld" th:field="*{projectName}" placeholder="Project Name" required />
			<div class="col alert alert-danger" th:each="error: ${#fields.errors('projectName')}" th:text="${error}">Validation error</div>

			<label class="sr-only" for="description">Project Description:</label>
			<input type="text" class="form-control" th:field="*{description}" placeholder="Project Description" required />
			<div class="col alert alert-danger" th:each="error: ${#fields.errors('description')}" th:text="${error}">Validation error</div>
			<select class="form-control" th:field="*{priority}" required>
			 	<option value="" >Pick Priority</option>
				<option value="Low">Low</option>
				<option value="Medium">Medium</option>
				<option value="High">High</option>
			</select>
			<div class="col alert alert-danger" th:each="error: ${#fields.errors('priority')}" th:text="${error}">Validation error</div>
			<select class="form-control last-fld" th:field="*{teamMember}" required>
				<option value="">Who will manage this project</option>
				<option th:each="currentOwner: ${team_members}" 
					th:value="${currentOwner.memberId}"
					th:text="${currentOwner.firstName} + ' ' + ${currentOwner.LastName}">
				</option>
			</select>
			<div class="col alert alert-danger" th:each="error: ${#fields.errors('teamMember')}" th:text="${error}">Validation error</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Add/Update Project</button>
		</form>
	</section>
</body>
</html>