<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Project Dashboard</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<fieldset>
	<table>
		<tr th:each="currentProject : ${projects}" >
			<td th:text="${currentProject.projectId}" />
			<td th:text="${currentProject.projectName}"/>
			<td th:text="${currentProject.owner.firstName}" />
			<td th:text="${currentProject.dateCreated}" />
			<td><a th:href="@{/details/{projectId}(projectId=${currentProject.projectId})}" >Details</a></td>
			<td><a th:href="@{/editProject/{projectId}(projectId=${currentProject.projectId})}" >Edit</a></td>
			<td><a th:href="@{/deleteProject/{projectId}(projectId=${currentProject.projectId})}" >Delete</a></td>
		</tr>
		</table>
		<a href="/inputProject">Add New Project</a>
	</fieldset>
</body>
</html>